.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Игнорировать конкретные файлы
notifications/config.json
notifications/draft.txt

# Игнорировать все .jar-файлы в папке notifications
notifications/*.jar

